:root{
    /* Primary */
    --Navy950 : hsl(233, 47%, 7%);
    --Blue950 : hsl(244, 37%, 16%);
    --Purple500 : hsl(277, 64%, 61%);
    --White10 : hsl(0, 0%, 100%);
    --White20 : hsla(0, 0%, 100%, 0.75);
    --White30 : hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}



p{
  font-size: 0.94rem;
  color: var(--White20);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background: var(--Navy950);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5rem;
 
}

.filler{
    background: var(--Blue950);
    display: flex;
    width: 80%;
    height: 60%;
    border-radius: .5rem; 
    padding: 0rem;
    overflow: hidden;
}

.left {
    width: 50%;
    min-height: 100%;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

heading{
  color: var(--White10);
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.right{
    width: 50%;
    margin: 0rem;
    position: relative;
}

.right img{
    width: 100%;
    height: 100%;
}

.right::after {
    content: "";
    position: absolute;
    inset: 0;        
    background: hsl(277, 64%, 61%, 0.5);
  }

.bodytext{
 margin-top: 2rem;
 width:75%;
 line-height: 1.8;
}

.stats{
    display: flex;
    gap: 4rem;
}

.stats div{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.figure{
    color: var(--White10);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: normal;
}

.desc{
    color: var(--White30);
    font-size: 0.94rem;
    font-weight: 400;
}


