

 *{
    margin:0rem;
    padding: 0rem;
    border: 0;
    box-sizing: border-box;
 } 

:root{
 --White: hsl(0, 0%, 100%);
 --Stone100: hsl(30, 54%, 90%);
 --Stone150: hsl(30, 18%, 87%);
 --Stone600: hsl(30, 10%, 34%);
 --Stone900: hsl(24, 5%, 18%);
 --Brown800: hsl(14, 45%, 36%);
 --Rose800: hsl(332, 51%, 32%);
 --Rose50: hsl(330, 100%, 98%);
 
}



body{
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: var(--Stone100);
}

.card{
 background-color: var(--White);
 padding: 2rem;
 border-radius: 1rem;
 max-width: 40rem;
}

.image{
 border-radius: .8rem;
 max-width: 100%;
 height:  auto;
}

/* .headingside{
 padding: 1rem 0rem;
} */

header{
font-size: 1.8rem;
font-family: "Young Serif", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
color: var(--Stone900);
margin: 1rem 0rem;
}


.caption{
font-family: "Outfit", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
color: var(--Stone600);
font-size: 1rem;
margin: 1rem 0rem;
}

.pinkspace{
 max-width: 100%;
 padding: 1rem;
 border-radius: .5rem;
 background-color: var(--Rose50);
 color:var(--Stone600);
 font-family: "Outfit", sans-serif;
 box-sizing: border-box;
} 

#prept{
    /* padding: 0rem; */
    font-weight: 600;
    color: var(--Rose800);
}

section{
    margin: 1rem 0rem;
}


.subhead{
    font-size: 1rem;
    font-family: "Young Serif", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--Rose800);
    }

